*{
    background-color: black;
    color: azure;
  }
  html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }